.container {
  height: 100vh;
  text-align: center;
  margin-top: 50px;
}

.title {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.title span {
  color: #2a8e2a;
  padding-left: 10px;
}

.board {
  width: 650px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.board .boxes {
  background-color: #2c2c5d;
  width: 150px;
  height: 150px;
  margin: 7px;
  border-radius: 6px;
}

button {
  border-radius: 50px;
  background-color: #2a8e2a;
  cursor: pointer;
  width: 150px;
  transition: 0.3s ease;
  color: white;
  padding: 20px;
  border: none;
  font-size: 20px;
}

button:hover {
  background-color: #2a8e2aa1;
}

.boxes img {
  margin: 50px;
  height: 50px;
}

.title img {
  height: 50px;
}
